<div id="lespostes" class="text-center bg-info shadow text-white p-3">
    <h2>Les Publications</h2>
    <br>
    <p>Explorez nos dernières publications passionnantes</p>
  </div>
  
<div *ngFor="let post of listPublications!.slice(startIndex, startIndex + pageSize)">
    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src={{post.images.url}} alt={{post.images.title}}>
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">@{{post.createdBy}}</div>
                        <div class="h7 text-muted">{{post.date}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <a class="card-link" href="#">
                <h5 class="card-title">{{post.title}}</h5>
            </a>
            <p class="card-text">
                {{post.body}}
            </p>
            <div class="mr-2">
                <img class="img-fluid" src="{{post.images.url}}" alt="{{post.images.title}}">
            </div>
        </div>
        <div class="card-footer">
            <a class="card-link" (click)="likePost(post)" style="cursor: pointer;"><i class="fa fa-gittip"></i>J'aime</a>
            <a class="card-link" (click)="toggleComments(post)" style="cursor: pointer;"><i class="fa fa-comment"></i>Commenter</a>
            <p>
                <span>{{post.likes}} J'aime</span>
            </p>
        </div>
        <app-commentaires [post]="post"></app-commentaires>
    </div>
</div>
<div>
    <button [disabled]="!hasPrevPage()" (click)="prevPage()" class="mt-2 me-4 btn btn-info btn-lg rounded-pill shadow">Page précédente</button>
    <button [disabled]="!hasNextPage()" class="mt-2 btn btn-info btn-lg rounded-pill shadow" (click)="nextPage()">Page suivante</button>
  </div>
  
  