<div id="lespostes" class="text-center bg-info shadow text-white p-3">
    <h2>Les Publications</h2>
    <br>
    <p>Explorez nos dernières publications passionnantes</p>
  </div>
  
<div *ngFor="let post of listPublications!.slice(startIndex, startIndex + pageSize)">
    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src={{post.images.url}} alt={{post.images.title}}>
                    </div>
                    <div class="ml-2 ms-2">
                        <div class="h5 m-0">@{{post.createdBy}}</div>
                        <div class="h7 text-muted" *ngIf="post.shared">(Post partagé)</div>
                        <div class="h7 text-muted">{{post.date}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <a class="card-link" href="#">
                <h5 class="card-title">{{post.title}}</h5>
            </a>
            <p class="card-text">
                {{post.body}}
            </p>
            <div class="mr-2">
                <img class="img-fluid" src="{{post.images.url}}" alt="{{post.images.title}}">
            </div>
        </div>
        <div class="card-footer">
            <a class="card-link" (click)="likePost(post)" style="cursor: pointer;"><i class="fa fa-gittip"></i>J'aime</a>
            <a class="card-link" (click)="toggleComments(post)" style="cursor: pointer;"><i class="fa fa-comment"></i>Commenter</a>
            <a class="card-link" (click)="openshareModal()" style="cursor: pointer;"><i class="fa fa-share"></i>Partagé</a>
            <ng-template #shareModal let-modal>
                <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Partagez ce post</h5>
        
                    </div>
                    <div class="modal-body">
                      <form (ngSubmit)="submitForm(post)">
                        <div class="mb-3">
                          <label for="textArea"></label>
                          <textarea class="mt-3 form-control" id="textArea" name="shareText" [(ngModel)]="shareText" rows="4"></textarea>
                        </div>
                        <div class="mb-3">
                          <label for="imageUrl">URL de l'image</label>
                          <input type="text" class="mt-3 form-control" id="imageUrl" name="imageURL" [(ngModel)]="imageURL">
                        </div>
                        <button type="submit" class="btn btn-md btn-info rounded-pill shadow">Partager</button>
                      </form>
                    </div>
                  </div>
                  </ng-template> 
            <p>
                <span>{{post.likes}} J'aime</span>
            </p>
            <div class="d-flex justify-content-end">
                <button *ngIf="post.shared" class="mb-3 btn btn-md btn-info rounded-pill shadow" (click)="openLoginModal()">
                    Partagé à partir
                </button>
            </div>
            
            
        </div>
        <app-commentaires [post]="post"></app-commentaires>
    </div>
    <ng-template #loginModal let-modal>
        <app-shared-post [post]="post"></app-shared-post>
    </ng-template>
</div>
<div>
    <button [disabled]="!hasPrevPage()" (click)="prevPage()" class="mt-2 me-4 btn btn-info btn-lg rounded-pill shadow">Page précédente</button>
    <button [disabled]="!hasNextPage()" class="mt-2 btn btn-info btn-lg rounded-pill shadow" (click)="nextPage()">Page suivante</button>
  </div>
