<div class="text-center" *ngIf="realUser != null">
 <img src="{{realUser.avatar}}" alt="avatar" class="img-fluid rounded-circle" style="width: 200px;">
  <h5 class="my-3">{{realUser.identifiant}}</h5>
  <p class="text-muted">{{realUser.fullName()}}</p>
  <div *ngIf="lastLoginDateTime">
    <h5>Date et heure de connexion</h5>
  <p  style="font-style: italic;" >{{ lastLoginDateTime }}</p>
  </div>
  
  <button class="btn btn-info btn-lg rounded-pill shadow" [disabled]="spinnerOn" (click)="onLogout()">
    <i class="bi bi-person" *ngIf="!spinnerOn"></i>
    <ng-container *ngIf="!spinnerOn">Se déconnecter</ng-container>
    <div class="d-flex justify-content-center" *ngIf="spinnerOn">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </button>
    <button class="btn btn-info btn-lg rounded-pill shadow mt-3" [disabled]="spinnerOn2"
    (click)="voirMesPublication()"> <ng-container *ngIf="!spinnerOn2">Voir mes publications  </ng-container>
    <div class="d-flex justify-content-center" *ngIf="spinnerOn2">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div></button>
    <div class="mt-2 container" *ngIf="isBadResult">aucun résultat pour cette recherche</div>
</div>