<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">        

        

    <div class="mt-5 text-center">
        <app-bandeau></app-bandeau>
    </div>


    
    <div class="container gedf-wrapper">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <app-login></app-login>
                        <app-user></app-user>
                    </div>
                </div>
                <app-users-online></app-users-online>
            </div>
            
            <div class="col-md-8 gedf-main">

                <app-add-post></app-add-post>
                <app-filtre-post></app-filtre-post>
                <app-publication></app-publication>

            </div> 
        </div>
    </div>
    <footer class="mt-4 bg-light py-4 text-center">
        <div class="container">
            <p>Module : Architecture Web, premier semestre de M1 ILSEN</p>
            <p>Créé par Lyes DOUKI</p>
        </div>
    </footer>
    
    