
<div class="alert alert-info" *ngIf="isUserLogin">
  <div class="container">
      <b>Info :</b> un nouvel utilisateur viens de nous rejoindre !
  </div>
</div>
<div class="alert alert-success" *ngIf="isSuccess">
  <div class="container">
      <b>connexion réussie:</b> Yuhuuu! Bienvenue sur CeriSoNet {{user?.identifiant}}!
  </div>
</div>
<div class="alert alert-danger" *ngIf="isFailedConnect">
   <div class="container">
       <b>Erreur de connexion:</b> nom d'utilisateur ou mot de passe incorrect!
  </div>
</div>