
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" *ngIf="!isNotificationActive && showScrollToTop">
  <div class="container">
    <div class="d-flex justify-content-center">
      <button class="ms-5 btn btn-info btn-lg rounded-pill shadow" (click)="scrollToTop()">Accueil</button>
    </div>


  </div>
</nav>


<div class="notification-container">
  <div class="alert alert-warning sticky-notification" *ngIf="isWarningShare">
    <div class="container">
        <b>Attention :</b> Vous devez vous connecter pour partager une publication !
    </div>
  </div>
  <div class="alert alert-warning sticky-notification" *ngIf="isWarningLikes">
    <div class="container">
        <b>Attention :</b> Vous devez vous connecter pour aimer une publication !
    </div>
  </div>
  <div class="alert alert-warning sticky-notification" *ngIf="isWarningAddPost">
    <div class="container">
        <b>Attention :</b> Vous devez vous connecter pour ajouter une publication !
    </div>
  </div>
  <div class="alert alert-warning sticky-notification" *ngIf="isWarningComments">
    <div class="container">
        <b>Attention :</b> Vous devez vous connecter pour commenter une publication !
    </div>
  </div>
  <div class="alert alert-info sticky-notification" *ngIf="isUserLogin">
    <div class="container">
        <b>Info :</b> {{messageInfo}} vient de nous rejoindre !
    </div>
  </div>
  <div class="alert alert-info sticky-notification" *ngIf="isPostLike">
    <div class="container">
        <b>Info :</b> Une publication vient d'être likée par {{messageInfo}}!
    </div>
  </div>
  <div class="alert alert-info sticky-notification" *ngIf="isCommentPost">
    <div class="container">
        <b>Info :</b> Une publication vient d'être commentée par {{messageInfo}} !
    </div>
  </div>
  <div class="alert alert-info sticky-notification" *ngIf="notifyNewPost">
    <div class="container">
        <b>Info :</b> Un post vient d'être publié par {{messageInfo}} !
    </div>
  </div>
  <div class="alert alert-info sticky-notification" *ngIf="notifyPostWasShared">
    <div class="container">
        <b>Info :</b> Un post vient d'être partagé par {{messageInfo}} !
    </div>
  </div>
  <div class="alert alert-info sticky-notification" *ngIf="isLogout">
    <div class="container">
        <b>Info :</b> {{messageInfo}} s'est déconnecté !
    </div>
  </div>
  <div class="alert alert-success sticky-notification" *ngIf="isSuccess">
    <div class="container">
        <b>connexion réussie:</b> Yuhuuu! Bienvenue sur CeriSoNet {{user?.identifiant}}!
    </div>
  </div>
  <div class="alert alert-success sticky-notification" *ngIf="isPostOk">
    <div class="container">
        <b>Post ajouter:</b> Yuhuuu! votre publication a bien été enregistée !
    </div>
  </div>
  <div class="alert alert-success sticky-notification" *ngIf="isShareOk">
    <div class="container">
        <b>Post partager:</b> Yuhuuu! la publication a bien été partagée !
    </div>
  </div>
  <div class="alert alert-danger sticky-notification" *ngIf="isFailedConnect">
     <div class="container">
         <b>Erreur de connexion:</b> Nom d'utilisateur ou mot de passe incorrect!
    </div>
  </div>
</div>

